:root {
  --primery-bgr-color: #ffffff;
  --secondary-bgr-color: #f5f4fa;
  --footer-bgr-color: #2f303a;
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --head-text-color: #ffffff;
  --head-button-bgr-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --logo-color-sec: #000000;
  --hover-btn-color: #188ce8;
  --border-color: #eeeeee;
  --head-border-line: #ececec;
  --social-icons-color: #afb1b8;
  --social-bgc: rgba(255, 255, 255, 0.1);
  --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-bgc: rgba(0, 0, 0, 0.2);
}
